
    <script type="text/javascript" src='/scripts/client.js'></script>

    <!-- My stuff HERE -->

    <script type="text/javascript" src='/scripts/kingsCup/clientSide.js'></script>
    <script type="text/javascript" src='/scripts/kingsCup2/client.js'></script>
    <!-- <script type="text/javascript" src='/scripts/testGame/client.js'></script> -->
    <script type="text/javascript" src='/scripts/handleSocketDisconnectClient.js'></script>

  </body>
</html>

