<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
  <a class="navbar-brand" href="/">LHL Card Games</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/games">Games</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/rankings">Rankings</a>
      </li>
    </ul>
    <div class="navbar-nav">
      <% if(user) { %>
      <div style="display:flex">
        <Label style="padding: 0 30px; color:white">Logged In As: <%= user %>!</Label>
        <form class="form-inline my-2 my-lg-0" action="/logout" method="POST">
          <button type="submit" class="btn">Logout</button>
        </form>
      </div>
      <% } else { %>
      <div class="navLoginSpace">
        <form action="/login" method="POST">
          <input type="email" name="email" placeholder="Enter email" />
          <input type="password" name="password" placeholder="Password" />
          <button type="submit">Login</button>
        </form>
      </div>
      <% } %>
    </div>
    <!-- </form> -->
  </div>
</nav>
