<form class="login" method="POST" action="/register">
  <h3>
    Register
  </h3>
  <div class="loginSpace">
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Username" />
  </div>
  <div class="loginSpace">
    <label for="email">Email address</label>
    <input type="email" name="email" placeholder="Email" />
  </div>
  <div class="loginSpace">
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password" />
  </div>
  <div class="loginSpace">
    <label for="password">Confirm Password</label>
    <input type="password" name="confirmPassword" placeholder="Confirm Password" />
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>
