<div id="gameForkingsCup2" style="display: none;">
  <h1 style="background-color: grey">KingsCup</h1>

  <div id="drawdeckarea"></div>

  <div class="container-fluid" style="display:flexbox">
    <div id="list-of-players" class="row list-of-players my-5 mx-5"></div>
  </div>
  <div class="row card-shown">
    <img
      style="max-height:30vh; margin:0 auto"
      src="https://cdn-ami-drupal.heartyhosting.com/sites/muscleandfitness.com/files/styles/full_node_image_1090x614/public/media/card-deck.png?itok=RgZ_PGKP"
      src="../../../Games/PNG/blue_back.png"
    />
  </div>
  <div id = "rows" class="row card-action my-5 mx-5 slide-in-elliptic-top-fwd" style="border:black solid 2px">
    <h4 id = "description" class="my-0 mx-auto slide-in-elliptic-top-fwd">DESCRIPTION</h4>
  </div>
</div>
