<div id=gameForkingsCup style="display: none;">

  <h1 style="background-color: grey">KingsCup</h1>

  <div id="kingsCupRPSSelection">
    <button class="btn btn-danger" id=kingsCupRock>Rock</button>
    <button class="btn btn-warning" id=kingsCupPaper>Paper</button>
    <button class = "btn btn-success" id=kingsCupScissor>Scissor</button>
  </div>

  <div style="background-color: white;" id="kingsCupUserStatus"></div>
  <div id="kingsCupPlayField" style="background-color: white">
    <p>Choose your hand</p>
  </div>
  <div id="kingsCupAfterGameBtn" style="display: none;">
    <button id="kingsCupPlayAgainBtn">Play Again</button>
    <button id="kingsCupQuitGameBtn">Lobby</button>
  </div>
  
 </div>
