<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="./scripts/client.js"></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"
    ></script>
    <title>SpeedTest - Tyler Caceres</title>
  </head>
  <body>
    <h1>speed test</h1>
    <div>
      <button id="test1">test 1</button>
      <h3>socket -> db</h3>
    </div>
    <div>
      <button id="test2">test 2</button>
      <h3>socket -> api -> db</h3>
    </div>
    <div>
      <button id="test3">test 3</button>
      <h3>api -> db</h3>
    </div>
    <div>
      <button id="results">results</button>
      <h3>click here to obtain results</h3>
    </div>
  </body>
</html>
