<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="./css/mainPage.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="./scripts/client.js"></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"
    ></script>
    <title>SpeedTest - Tyler Caceres</title>
  </head>
  <body>
    <div class="container">
      <h1 class="title">speed test</h1>
      <div class="test">
        <h2>TEST #1</h2>
        <h3>socket -> db</h3>
        <p>
          This test uses the socket connection. The socket event listener on the server side
          directly queries against the database.
        </p>
        <button id="test1">RUN TEST 1</button>
      </div>
      <div class="test">
        <h2>TEST #2</h2>
        <h3>socket -> api -> db</h3>
        <p>
          This test uses the socket connection. The socket event listener on the server side
          requests the data via an API request.
        </p>
        <button id="test2">RUN TEST 2</button>
      </div>
      <div class="test">
        <h2>TEST #3</h2>
        <h3>api -> db</h3>
        <p>
          This test requests the data via an API request.
        </p>
        <button id="test3">RUN TEST 3</button>
      </div>
      <div class="results">
        <h2>RESULTS</h2>
        <h3>click button for results</h3>
        <p>check console log for results</p>
        <button id="results">RESULTS</button>
      </div>
    </div>
  </body>
</html>
