body {
 
  background-size: cover;
  
  background-color: darkgrey;

}

.room {
  
}
// .game:active,
// .room :active {
//   box-shadow: none;
//   position: relative;
//   top: 0.2em;
// }

.createRoom {
  font-family: sans-serif;
  text-align: center;
  display: inline-block;
  line-height: 1.5em;
  width: 7.5em;
  margin: 5px;
  font-weight: inherit;
  font-size: x-small;
  padding: 5px 5px 5px 5px;
  background-color: rgb(40, 58, 73);
  text-shadow: -1px -1px black, 1px 1px rgb(112, 105, 105);
  color: ivory;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 0.2em rgb(42, 46, 43);
  animation: shine 1s infinite;
  cursor: pointer;
}

@keyframes shine {
  0% {
    background-color: rgb(40, 58, 73);
  }

  25% {
    background-color: rgb(81, 96, 109);
  }
  50% {
    background-color: rgb(110, 132, 149);
  }

  75% {
    background-color: rgb(50, 63, 73);
  }
  100% {
    background-color: rgb(40, 58, 73);
  }
}

.makeAroom {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: x-small;
  height: 2.5em;
  width: 25em;
}

.img-fluid{
  
  max-width: 20%; 
  height: auto;




}
.my-0{
  max-width: 30%;
  height: auto;
  
}
.emailDisplay{
 font-size : 1em;
}





